click
colorama
decorator
Flask
Flask-WTF
greenlet
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python
python-dateutil
six
SQLAlchemy
typing-extensions
validators
Werkzeug
WTForms
zipp
