{% extends 'base.html' %}
{% import 'map/macros.html' as macros %}

{% block title %}{% block header %}矩形データの編集{% endblock %}{% endblock %}
{% block head %}
<script src="{{ url_for('static', filename='openlayers-v6.9.0/ol.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='openlayers-v6.9.0/ol.css') }}">
<style type="text/css">
div.region {
  position: absolute;
  border: 1px solid #333;
  color: rgba(255,0,0,0.5);
  background-color: rgba(255,0,0,0.5);
}
#map {
  height: 600px;
  width: min(100%, 800px);
  border: 1px #333 solid;
}
</style>
{% endblock %}

{% block body %}

<section>
  {{ macros.map_with_region(map_regions, map.image_url, selection=True) }}
</section>

<section>
  <script>
//var csrf_token = "{{ csrf_token() }}";
  </script>
  <h2>機能</h2>
  <section>
    <h3>矩形データの追加</h3>
    <form id="form_add_region">
      {{ form_new.csrf_token }}
      {{ form_new.hidden_tag() }}
      <p>
        {{ form_new.x.label }} {{ form_new.x(size=4) }}
        {{ form_new.y.label }} {{ form_new.y(size=4) }}
        {{ form_new.w.label }} {{ form_new.w(size=4) }}
        {{ form_new.h.label }} {{ form_new.h(size=4) }}
        <input type="button" id="button_add_region" value="追加">
      </p>
    </form>
    <script>
document.querySelector('#button_add_region').addEventListener('click',function(){ 
  var data = new FormData(document.forms.form_add_region);
  var x = +data.get('x');
  var y = +data.get('y');
  var w = +data.get('w');
  var h = +data.get('h');
  fetch('http://127.0.0.1:5000/map/1/region/new', {
    method: 'POST',
    //headers: {
    //  'X-CSRFToken': csrf_token
    //},
    body: data
  }).then(response => {
    if (!response.ok) {
      // 失敗したときもとりあえず中身見る
      response.json().then(data => console.log(data));
      throw new Error("矩形の追加リクエストに失敗しました");
    }
    return response.json();
    var region = response.json();
  }).then(region => {
    console.log(region);
    var feature = new ol.Feature({
      geometry: new ol.geom.Polygon([regionToPolygon(region.x, region.y, region.w, region.h)]),
      model: region
    });
    addFeature(feature);
  }).catch(error => {
    console.log('error!!!', error);
  });
});
    </script>
  </section>
  <section>
    <h3>矩形データの編集</h3>
    <form id="form_edit_region">
      <p>
        <input type="hidden" name="id">
        <label>id: <span id="edit_region_id">-</span></label>
        <label>x: <input type="text" name="x" size="4"></label>
        <label>y: <input type="text" name="y" size="4"></label>
        <label>w: <input type="text" name="w" size="4"></label>
        <label>h: <input type="text" name="h" size="4"></label>
        <input type="button" id="button_edit_region" value="更新">
      </p>
      <p>既存の矩形データを選択して、位置とサイズを変更</p>
    </form>
    <script>
var selectedFeature = null;
onMapLoad = function(map) {
  addOnSelect(function(e) {
    // see https://openlayers.org/en/latest/examples/select-features.html
    var form = document.forms.form_edit_region;
    if (e.selected.length === 0) {
      // formのクリア
      form.querySelector('[name=id]').value = '';
      form.querySelector('[name=x]').value = '';
      form.querySelector('[name=y]').value = '';
      form.querySelector('[name=w]').value = '';
      form.querySelector('[name=h]').value = '';
      document.querySelector('#edit_region_id').innerHTML = '-';
      selected = null;
      return;
    }
    var feature = e.selected[0];
    var model = feature.get('model');
    // form更新
    form.querySelector('[name=id]').value = model.id;
    form.querySelector('[name=x]').value = model.x;
    form.querySelector('[name=y]').value = model.y;
    form.querySelector('[name=w]').value = model.w;
    form.querySelector('[name=h]').value = model.h;
    document.querySelector('#edit_region_id').innerHTML = model.id;
    selectedFeature = feature;
  });
};
// TODO: 地図上のスペースを選択したときに変えたい
document.querySelector('#button_edit_region').addEventListener('click',function(){ 
  if (selectedFeature === null) {
    alert('選択している矩形がありません');
    return false;
  }
  var data = new FormData(document.forms.form_edit_region);
  var x = +data.get('x');
  var y = +data.get('y');
  var w = +data.get('w');
  var h = +data.get('h');
  // TODO: この時点でDB上にも追加する
  selectedFeature.setGeometry(new ol.geom.Polygon([regionToPolygon(x,y,w,h)]));
  // TODO: modelの値も書き換わる
});
    </script>
  </section>
  {% endblock %}
